.cardList {
  width: 100%;
  padding: 70px 0 26px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: calc((231 / 1280) * 100vw);
  gap: 60px 30px;
  justify-content: center;
}

.cardList__button {
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

@media screen and (max-width: 900px) {
  .cardList {
    padding: 70px 0 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc((231 / 768) * 100vw);
    gap: 45px 30px;
  }
}

@media screen and (max-width: 600px) {
  .cardList {
    padding: 40px 0 12px;
    grid-template-columns: 80%;
    grid-auto-rows: calc((199 * 0.8 / 320) * 100vw);
    gap: 40px 0;
  }
}

@media screen and (max-width: 400px) {
  .cardList {
    grid-template-columns: 1fr;
    grid-auto-rows: calc((199 / 320) * 100vw);
  }
}
