.button {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_promo {
  width: 96px;
  transition: background-color 0.2s ease-in-out;
}

.button_promo:hover {
  cursor: pointer;
  background-color: #a8a8a8;
  transition: background-color 0.2s ease-in-out;
}

.button_promo:active {
  cursor: pointer;
  background-color: #bbb;
  transition: background-color 0.2s ease-in-out;
}

.button_techs {
  width: 90px;
}

.button__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button__link_promo {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__link_techs {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #000;
}

@media screen and (max-width: 900px) {
  .button_techs {
    width: calc(84 / 768 * 100vw);
  }

  .button__link_techs {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .button_techs {
    width: 84px;
    height: 57px;
  }

  .button_promo {
    border-radius: 6px;
  }
}

@media screen and (max-width: 450px) {
  .button_promo {
    width: 82px;
  }

  .button__link_promo {
    font-size: 10px;
    line-height: 1.6;
  }
}
