.page {
  background-color: #fff;
  color:#000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 100vw;
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
}

@media screen and (max-width: 900px) {
  .page {
    grid-template-columns: 30px 20px 1fr 20px 30px;
    grid-template-areas:
      ". header header header ."
      ". . main . ."
      ". footer footer footer .";
  }
}

@media screen and (max-width: 600px) {
  .page {
    grid-template-columns: 14px 1fr 14px;
    grid-template-areas:
      ". header ."
      ". main ."
      "footer footer footer";
  }
}
