.title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.title_promo {
  width: 730px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: calc(40 / 768 * 100vw);
    line-height: calc(52 / 768 * 100vw);
  }

  .title_promo {
    width: calc(680 / 768 * 100vw);
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 35px;
    line-height: 1.4;
  }

  .title_promo {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: calc(29 / 320 * 100vw);
    line-height: calc(37 / 320 * 100vw);
  }

  .title_promo {
    width: calc(292 / 320 * 100vw);
  }
}
