.saved-movies {
  width: 100%;
  grid-area: movies;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 246px);
}

@media screen and (max-width: 600px) {
  .saved-movies {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    min-height: calc(100vh - 319px);
  }
}
